.button {
  &-submit {
    width: 100%;
    min-width: 275px;
    max-width: fit-content;
    height: fit-content;
    min-height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--btn-bg-color, #0082ff); 
    border: none;
    border-radius: 5px;
    padding: 0 25px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.01em;
    text-transform: uppercase;

    color: var(--btn-text-color, #fff);

    box-shadow: none;

    @media screen and (max-width: 992px) {
      margin: 0 auto;
    }

    @media screen and (max-width: 640px) {
      min-height: 50px;
      padding: 15px 10px;
      font-size: 14px;
    }
  }
}
