.send-form__custom {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  &-input {
    flex: 1 1 calc((100% - 20px) / 2);
    max-height: 50px;

    background: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    outline: none;

    padding: 13px 16px;

    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: #737373;

    &::placeholder {
      font-family: 'Open Sans', sans-serif;
      font-style: italic;
      font-weight: 400;
      font-size: 15px;
      line-height: 21px;
      color: #737373;
    }
  }

  &-terms {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: var(--text-color);

    & > a {
      text-decoration: underline;
      color: inherit;

      &:hover {
        color: inherit;
      }
    }
  }

  @media screen and (max-width: 992px) {
    justify-content: center;
    column-gap: 30px;
    row-gap: 25px;

    &-input {
      flex: 1 1 calc((100% - 30px) / 2);
    }

    &-terms {
      max-width: 519px;
      text-align: center;
    }

    &-submit {
      text-transform: initial;
    }
  }

  @media screen and (max-width: 640px) {
    row-gap: 12px;

    &-terms {
      opacity: 0.5;
      text-align: left;
    }

    &-submit {
      max-height: 50px;
      padding: 15px 0;
      flex-grow: 1;
    }
  }
}
