.td {
  &-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, 50%);
    grid-template-rows: 1fr;
    grid-template-areas:
      'img desc'
      'img form';
    row-gap: 40px;
    column-gap: 40px;

    padding-top: 90px;
    padding-bottom: 90px;
    padding-left: 40px;
    padding-right: 40px;
    min-height: 683px;
    background-color: var(--bg-color);

    @media screen and (max-width: 992px) {
      grid-template-columns: repeat(auto-fill, 100%);
      grid-template-rows: 1fr;
      grid-template-areas:
        'img'
        'desc'
        'form';
      grid-template-rows: minmax(0, 1fr);

      padding-top: 0;
      padding-bottom: 40px;
    }

    @media screen and (max-width: 641px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &__image {
    grid-area: img;

    margin-top: -90px;
    margin-bottom: -90px;
    margin-left: -40px;

    display: flex;
    justify-content: center;
    align-items: center;

    & > *,
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media screen and (max-width: 992px) {
      aspect-ratio: 720 / 465;

      margin-top: 0;
      margin-bottom: 0;
      margin-right: -40px;
    }

    @media screen and (max-width: 641px) {
      margin-left: -20px;
      margin-right: -20px;
    }
  }

  &__caption {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    text-transform: uppercase;
    color: var(--text-color);

    margin-bottom: 20px;
  }

  &__title {
    margin: 0 0 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    text-transform: uppercase;
    color: var(--text-color);

    & > span {
      display: block;
    }
  }

  &__description {
    grid-area: desc;

    &-text {
      margin: 0;
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
      color: var(--text-color);
    }
  }

  &__form {
    grid-area: form;
  }

  @media screen and (max-width: 1200px) {
    &__title {
      font-size: 36px;
    }

    &__description {
      &-text {
        font-size: 14px;
      }
    }
  }

  @media screen and (max-width: 992px) {
    &__caption,
    &__title,
    &__description-text {
      text-align: center;
    }
  }

  @media screen and (max-width: 641px) {
    &__caption {
      font-size: 14px;
    }

    &__title {
      font-size: 20px;
    }
  }
}
